<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
  <%= link_to('修改密碼', edit_registration_path(:user)) %>
<% else %>
  <%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %>
<% end %>

<div class="main flex-grow-1 p-0 ms-1">
  <div class="container container-breadcrumb ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=<%= root_path %>>首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">URL列表</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <%= link_to "New Link", new_link_path, class: "btn btn-outline-dark" %>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Url</th>
          <th>Short URL</th>
          <th>Clicked</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><a href="<%= link.url %>"><%= link.url %></a></td>
            <td><a href="<%= link.short %>"><%= link.short %></a></td>
            <td><%= link.clicked %></td>
            <td><%= link_to 'Show', link %></td>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

