<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Short URL:</strong>
  <a href="<%= @link.short %>"><%= @link.short %></a>
</p>

<p>
  <strong>Clicked:</strong>
  <%= @link.clicked %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> | <%= link_to 'Back', links_path %>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Visitor Email</th>
      <th>Visitor Clicked</th>
    </tr>
  </thead>
  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.email %></td>
        <td><%= history.clicked %></td>
      </tr>
    <% end %>
  </tbody>
</table>
